
<h3 class="alert alert-success alert-dismissible" style="width:50%; padding:20px;">
    Your password has been successfully changed!
</h3>
<hr class="divider" style="opacity:2; color:aqua"/>
<div style="padding:15px;">
    <h4 class="text-primary" style="padding:10px;">
        Click the following to go back to the respective pages -
    </h4>
    <div style="padding:10px; width:20%;">
        <a class="link-info" asp-area="" asp-controller="Home" asp-action="Index" >Home</a>
    </div>
    <div style="padding:10px; width:20%;">
        <a class="link-info" asp-area="" asp-controller="File" asp-action="File">Upload File</a>
    </div>
    <div style="padding:10px; width:20%;">
        <a class="link-info" asp-area="" asp-page="/Manage">User Management</a>
    </div>
</div>