@*Partial View To Display Metadata On Click*@
@using CaseStudyApp.Models
@model CaseStudyApp.Models.FileModel

 <div class="flex-child" style="flex:3;">
        <div class="bg-dark text-white" style="padding:5px;">
            <h6>Document Metadata</h6>
        </div>
        <div class="flex-container" style="display:flex;padding:5%;">
            <div class="flex-child" style="flex:auto;">
                <div class="bg-secondary text-white" style="width:60%;margin-top:10px;padding:3%;border-radius:10px;">
                    <h6>Created By:</h6>
                </div>
                <div class="bg-secondary text-white" style="width:60%;padding:3%;margin-top:30px;border-radius:10px;">
                    <h6>Created On:</h6>
                </div>
                <div class="bg-secondary text-white" style="width:60%;padding:3%;margin-top:30px; border-radius:10px;">
                    <h6>File Info:</h6>
                </div>
            </div>
            <div class="flex-child" style="flex:4;">
                <div class="font-weight-bold" style="padding:3%">
                    <h6>@Html.DisplayFor(f => f.UploadedBy)</h6>
                </div>
                 <div class="text-dark" style="padding:5%;">
                    <p>@Html.DisplayFor(f => f.CreatedOn)</p>
                </div>
                <div class="text-dark" style="width:50%;padding:3%;">
                    <p>@Html.DisplayFor(f => f.Name)@Html.DisplayFor(f => f.Extension)</p>
                </div>
            </div>
        </div>
</div>


